extends ./layout
block content

  section(block="section", mods="fullscreen darken center" mix="block: js-header, block: page elem: section")
    div(elem="wrapper")
      div(elem="content-wrap", mix="block: js-header elem: content-wrap")
        h1(block="page", elem="title", mix="block: title") Как  сделать так, чтобы Ваши ресурсы начали на Вас работать?
        h2(block="page", elem="subtitle", mix="block: title") Коучинг, который действительно безупречно эффективен
        button(block="button", mods="primary") Связаться

  section(block="section", mods="center")
    div(elem="wrapper")
      div(elem="content-wrap", mods="slim")
        div(elem="col-12")
        h3 Удерживаем вниманиеj
        p Довольны ли своей жизнью?
          Устраивает ли Вас то, что Вы можете себе позволить? Полностью реализовали себя в профессии и не знаете, куда девать деньги? Счастливы в любви и семейной жизни?
          Тогда можете бросить читать это прямо сейчас.
          Но если у Вас не выходит достичь желаемого, а время беспощадно колотит молоточком, напоминая о несбывшемся, то  Вы оказались в нужное время в нужном месте. Потому что скоро Вы увидите, наконец, на что на самом деле способны.


  section(block="section", mods="whitesmoke")
    div(elem="wrapper")

      div(elem="content-wrap")
        div(block="features")
          div(elem="item")
            i(elem="icon")
            h3(elem="header") Естественность и гармоничность
            p(elem="text") никакого принудительного «встраивания» установок и черт. Хороши только те способы, в которых Вы чувствуете себя свободно и естественно
          div(elem="item")
            i(elem="icon")
            h3(elem="header") Исключительная чёткость структуры работы на всех этапах
            p(elem="text") В «Spiritual Option» всё продумано до мелочей: соблюдается чёткая последовательность действий, приводящая к предсказуемому результату, проверенному на тысячах людей
          div(elem="item")
            i(elem="icon")
            h3(elem="header") Глубина проработки прошлого опыта, мешающего достижению цели
            p(elem="text") оптимизация эмоционального состояния является непременным условием эффективности последующей работы
          div(elem="item")
            i(elem="icon")
            h3(elem="header") Видимость изменений в реальной жизни
            p(elem="text") чёткое планирование и соблюдение срока достижения результата убедит Вас в 100% действенности метода
          div(elem="item")
            i(elem="icon")
            h3(elem="header") Устойчивость полученного положительного эффекта
            p(elem="text") овладение методикой «Spiritual Option» позволит не только пользоваться ей по завершении работы, но и покорять новые вершины уже без коуча.






block js
  script(src="js/index.js")


