extends ./layout
block extraCss
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
block content

  section(block="section", mods="center darken" mix="block: js-header, block: page elem: section")
    div(elem="wrapper")
    div(elem="content-wrap", mix="block: js-header elem: content-wrap")
      h1(block="page", elem="title", mix="block: title") Как  сделать так, чтобы Ваши ресурсы начали на Вас работать?
      h2(block="page", elem="subtitle", mix="block: title") Коучинг, который действительно безупречно эффективен
      button(block="button", mods="primary", mix="block: page elem: button") Связаться

  section(block="section", mods="center fix slim")
    div(elem="content-wrap")
      h3(block="title") Довольны ли своей жизнью?
      p
        Устраивает ли Вас то, что Вы можете себе позволить? Полностью реализовали себя в профессии и не знаете, куда девать деньги? Счастливы в любви и семейной жизни?
        Тогда можете бросить читать это прямо сейчас.
        Но если у Вас не выходит достичь желаемого, а время беспощадно колотит молоточком, напоминая о несбывшемся, то  Вы оказались в нужное время в нужном месте. Потому что скоро Вы увидите, наконец, на что на самом деле способны
      h3(block="title") Что мы делаем, когда хотим добиться больших целей?
      ul(block="list")
        li Мечтаем, планируем, ищем подходящие пути
        li Пробуем реализовать задуманное
        li Сталкиваемся с препятствиями извне и внутренними ограничениями
      p На этом наша одинаковость заканчивается. Как только мы встречаем трудности, наше поведение становится совершенно разным. Лишь немногим удаётся легко преодолеть препоны и быстро выйти на финишную прямую к заветной цели. Остальные же застревают на определённом участке пути: кто-то сдаётся сразу, с первой попытки, а кто-то прикладывает всё больше и больше усилий, окончательно загоняя себя в плен отчаяния.
      h3(block="title") Как обычно люди пытаются бороться с препятствиями?
      ul(block="list")
        li Меняют обстоятельства: работу, сексуальных партнёров, место жительства. Но каждый раз обнаруживают, что это ничего не решает
        li Отказываются от цели, пытаясь убедить себя, что это «вовсе не так уж и важно». Но ощущение неудовлетворённости постоянно возвращается
        li Обращаются за помощью: к наставнику, психологу, коучу, тренеру и даже гадалке или астрологу. Результаты зависят от правильности выбора специалиста


  section(block="section", mods="center fix whitesmoke grid")
    div(elem="content-wrap")
      h3(block="title", mods="center") 3 типичных заблуждения при обращении за помощью в достижении цели.
      div(block="delusions")
        div(elem="item")
          h4(block="quote", mix="block: title") Всё сделают за меня
          p Почему услуги тех, кто обещает результат по мановению волшебной палочки, пользуются бешеной популярностью? Иллюзия получить что-то не прилагая усилий слишком привлекательна для человеческого сознания, уставшего выдерживать череду разочарований. Но в большинстве случаев соблазн довериться чуду приводит к печальным последствиям.
        div(elem="item")
          h4(block="quote", mix="block: title") Мне дадут готовый рецепт, что делать
          p Многим кажется, будто бы профессионал берёт своё вознаграждение за то, что обладает секретным знанием и может наставить на «правильный» путь. Но если бы такие алгоритмы существовали, потребность в людях, помогающих добиваться целей, вообще отпала. Идеи можно было бы систематизировать и массово распространять.
        div(elem="item")
          h4(block="quote", mix="block: title") Раз другим помогло, поможет и мне
          p Мы привыкли прислушиваться к рекомендациям друзей и знакомых, и это оправдано, если Вы ищете хорошего мастера по ремонту или зубного врача. Но когда речь идёт о собственном счастье, начинают работать иные законы. Потому как невозможно повторить чей-то путь, даже если у Вас одинаковые цели.


  section(block="section", mods="primary")
    div(elem="content-wrap")
      div(block="features")
        div(elem="item")
          i(elem="icon", class="fa fa-pagelines ")
          h3(elem="title") Естественность и гармоничность
          p(elem="text") никакого принудительного «встраивания» установок и черт. Хороши только те способы, в которых Вы чувствуете себя свободно и естественно
        div(elem="item")
          i(elem="icon", class="fa fa-cubes ")
          h3(elem="title") Исключительная чёткость структуры работы на всех этапах
          p(elem="text") В «Spiritual Option» всё продумано до мелочей: соблюдается чёткая последовательность действий, приводящая к предсказуемому результату, проверенному на тысячах людей
        div(elem="item")
          i(elem="icon", class="fa fa-history ")
          h3(elem="title") Глубина проработки прошлого опыта, мешающего достижению цели
          p(elem="text") оптимизация эмоционального состояния является непременным условием эффективности последующей работы
        div(elem="item")
          i(elem="icon", class="fa fa-child ")
          h3(elem="title") Видимость изменений в реальной жизни
          p(elem="text") чёткое планирование и соблюдение срока достижения результата убедит Вас в 100% действенности метода
        div(elem="item")
          i(elem="icon", class="fa fa-graduation-cap ")
          h3(elem="title") Устойчивость полученного положительного эффекта
          p(elem="text") овладение методикой «Spiritual Option» позволит не только пользоваться ей по завершении работы, но и покорять новые вершины уже без коуча.






block js
  script(src="js/index.js")


