include ../blocks/main.jade
doctype html
html(lang="ru")
  head
    title Коучинг по методики Spirital Option. Коучер Татьяна Костина
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='robots', content='all')
    meta(property="og:title", content="Коучинг по методики Spirital Option. Коучер Татьяна Костина")
    meta(property="og:type", content="article")
    link(rel='stylesheet', href='css/main.css')
    block extraCss


    meta(http-equiv='X-UA-Compatible', content="IE-edge")
  body(block="page")

    block content

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js")
    //-script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.map")

    block js

