.list
  list-style-type: none

  li
    &:before
      color: $main-color
      padding-right: 10px
      // Font-awesome icon
      font: normal normal normal 10px/1 FontAwesome
      vertical-align: middle
      content: "\f111"

  &_check
    li
      padding: 10px 0
      font-size: 1.1rem
      &:before
        font-size: 15px
        content: "\f00c"

@media (max-width: 500px)
  .list
    padding-left: 0

