.features
  padding: 50px 0
  display: flex
  flex-wrap: wrap
  margin: 0 auto
  align-content: center
  justify-content: center

  &__icon
    width: 100%
    // Important чтобы перекрыть размеры font-awesome
    font-size: 100px !important
    text-align: center
    //color: $main-color

  &__title
    font-size: 1em

  &__item
    width: span(12 of 12)
    @include gutters
    padding-bottom: 30px

    @media (min-width: 600px)
      width: span(1 of 2)


    @media (min-width: 1200px)
      width: span(2 of 8)


