.login {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  margin: 10px auto 0;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px; }
  .login__button {
    width: 100px;
    margin: 0 auto; }
