.button {
  padding: 6px 12px;
  padding: 0 2rem;
  line-height: 36px;
  height: 36px;
  font-size: 1rem;
  text-align: center;
  border: none;
  border-radius: 2px;
  text-decoration: none;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer; }
  .button_type_primary {
    color: white;
    background-color: #26a69a; }
    .button_type_primary:hover {
      background-color: #2bbbad; }
