@charset "UTF-8";
html {
  font-size: 16px; }

.page {
  padding: 0;
  margin: 0;
  color: black;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5rem; }
  .page__section {
    background-image: url(/images/section/white-laptop-female-hand-note-pen-phone-desk.jpg);
    background-position: no-repeat;
    background-attachment: fixed;
    background-color: #1abc9c;
    color: white;
    z-index: -1;
    background-size: cover; }
    .page__section .section__content-wrap {
      text-align: center; }
  .page__title {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold; }
  .page__subtitle {
    font-size: 2rem; }

.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.section {
  position: relative;
  font-size: 1.1rem;
  /*
   * Elements
   */
  /*
   * Mods
   */ }
  .section__wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1; }
  .section__text {
    font-size: 1.2rem;
    line-height: 2rem; }
  .section__fix-height {
    height: 60vh; }
  .section__content-wrap {
    padding: 20px;
    margin: 0 auto;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    opacity: 1; }
    .section__content-wrap_slim {
      max-width: 800px; }
    .section__content-wrap_hidden {
      opacity: 0;
      -webkit-transform: scale(0.8);
          -ms-transform: scale(0.8);
              transform: scale(0.8); }
    .section__content-wrap_grid {
      box-sizing: border-box;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
      .section__content-wrap_grid:after {
        content: " ";
        display: block;
        clear: both; }
    .section__content-wrap_header-blurred {
      padding: 20px;
      background-image: url(/images/section/bg1.header-bg.blur.jpg);
      background-attachment: fixed;
      background-size: cover;
      color: white;
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6); }
  .section_fullscreen {
    height: 100vh; }
  .section_whitesmoke {
    background-color: #f5f5fa; }
  .section_darken .section__wrapper {
    background-color: rgba(0, 0, 0, 0.5); }
  .section_primary {
    color: white;
    background-color: #1abc9c; }
  .section_video {
    position: relative; }
  .section_center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .section_fix {
    min-height: 60vh;
    height: auto; }

.steps__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.steps__step {
  position: relative;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  margin: 0 10px;
  -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
          transform: translateX(20px); }
  .steps__step_show {
    opacity: 1;
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px); }

.steps__header {
  text-align: center; }

.steps__section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  background-image: url(/images/steps/coffee-cup-mug-desk-1.jpg);
  background-position: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.title {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2; }

.nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-size: 1rem;
  margin: 0;
  padding: 0; }
  .nav-list__item {
    color: black;
    box-sizing: border-box;
    padding: 20px 50px;
    text-align: center; }
    .nav-list__item_active {
      color: white;
      background: rgba(0, 0, 0, 0.16); }

.button {
  padding: 15px 30px;
  border: none;
  line-height: 1.4;
  font-size: 16px;
  box-shadow: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  border-radius: 4px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out; }
  .button_primary {
    background-color: #1abc9c;
    color: white; }
    .button_primary:focus {
      outline: none;
      box-shadow: 0 0 0 1px transparent, 0 0 0 3px rgba(26, 188, 156, 0.5); }
    .button_primary:active {
      background-color: #28e1bd; }
    .button_primary:active:focus {
      box-shadow: none; }

.features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 auto;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0; }
  .features__icon {
    width: 100%;
    font-size: 100px !important;
    text-align: center; }
  .features__item {
    width: 80%;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    padding-bottom: 30px; }
    @media (min-width: 600px) {
      .features__item {
        width: 40%; } }
    @media (min-width: 1200px) {
      .features__item {
        width: 22.5%; } }

.quote {
  quotes: "\201C" "\201D"; }
  .quote:before {
    content: open-quote;
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em; }

.list {
  list-style-type: none; }
  .list li:before {
    color: #1abc9c;
    padding-right: 10px;
    content: "•"; }
