$ctx: ".section"


.section

  position: relative
  z-index: 1

  /*
   * Elements
   */
  &__row
    justify-content: center
    display: flex
    width: 100%

  &__overlay
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    height: 100%
    width: 100%
    z-index: -1


  &__text
    font-size: 1.2rem
    line-height: 2rem

  &__fix-height
    height: 60vh


  &__content-wrap
    padding: 20px
    margin: 0 auto
    transition:
      property: transform, opacity
      duration: 0.3s
      timing-function: ease-in-out
    opacity: 1

  /*
   * Mods
   */

  &_fullscreen
    height: 100vh

  &_color_whitesmoke
    background-color: $whitesmoke-color

  &_color_darkslategray
    color: white
    background-color: $darkslategray-color

    #{$ctx}__title
      color: white

  &_color_primary
    color: white
    background-color: $main-color

    #{$ctx}__title
      color: white

  &_overlay_primary
    color: white
    .section__overlay
      background-color: rgba($main-color, 0.8)

  &_overlay_darken
    color: white
    .section__overlay
      background-color: rgba(black, 0.5)


  &_video
    position: relative


  &_center
    display: flex
    vertical-align: middle
    align-items: center

  &_fix
    min-height: 60vh
    height: auto

  &_slim
    .section__content-wrap
      max-width: 1100px

  &_slim.section_grid
    .section__content-wrap
      @include container(1100px)

  &_ultra-slim
    .section__content-wrap
      max-width: 900px

  &_grid
    .section__content-wrap
      @include container()


  &_collapse
    .section__content-wrap
      padding: 20px 0

  &_img_coffee
    background-position: no-repeat
    background-attachment: fixed
    background-image: url(/images/section/coffee-cup-mug-dest.jpg)

    #{$ctx}__title
      color: white

  &_img_blur-girl
    background-position: no-repeat
    background-attachment: fixed
    background-image: url(/images/section/working-desk-desks.jpg)

  &_img_join-us
    background-image: url(/images/section/join-us.jpg)
    background-size: cover

    #{$ctx}__title
      color: white
