extends ../layout
block extraCss
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
block content

  section(block="section", mods="center overlay:darken slim" mix="block: js-header, block: page elem: section")
    div(elem="overlay")
    div(elem="content-wrap", mix="block: js-header elem: content-wrap")
      h1(block="page", elem="title", mix="block: title")
        Как  сделать так, чтобы Ваши ресурсы начали на Вас работать?
      p(block="page", elem="subtitle") Коучинг, который действительно безупречно эффективен
      button(block="button", mods="primary", mix="block: page elem: button") Связаться

  section(block="section", mods="center fix slim")
    div(elem="content-wrap")
      h3(block="title", mods="level:3") Довольны ли своей жизнью?
      p
        Устраивает ли Вас то, что Вы можете себе позволить? Полностью реализовали себя в профессии и не знаете, куда девать деньги? Счастливы в любви и семейной жизни?
        Тогда можете бросить читать это прямо сейчас.
        Но если у Вас не выходит достичь желаемого, а время беспощадно колотит молоточком, напоминая о несбывшемся, то  Вы оказались в нужное время в нужном месте. Потому что скоро Вы увидите, наконец, на что на самом деле способны
      h3(block="title", mods="level:3") Что мы делаем, когда хотим добиться больших целей?
      ul(block="list")
        li Мечтаем, планируем, ищем подходящие пути
        li Пробуем реализовать задуманное
        li Сталкиваемся с препятствиями извне и внутренними ограничениями
      p На этом наша одинаковость заканчивается. Как только мы встречаем трудности, наше поведение становится совершенно разным. Лишь немногим удаётся легко преодолеть препоны и быстро выйти на финишную прямую к заветной цели. Остальные же застревают на определённом участке пути: кто-то сдаётся сразу, с первой попытки, а кто-то прикладывает всё больше и больше усилий, окончательно загоняя себя в плен отчаяния.
      h3(block="title", mods="level:3") Как обычно люди пытаются бороться с препятствиями?
      ul(block="list")
        li Меняют обстоятельства: работу, сексуальных партнёров, место жительства. Но каждый раз обнаруживают, что это ничего не решает
        li Отказываются от цели, пытаясь убедить себя, что это «вовсе не так уж и важно». Но ощущение неудовлетворённости постоянно возвращается
        li Обращаются за помощью: к наставнику, психологу, коучу, тренеру и даже гадалке или астрологу. Результаты зависят от правильности выбора специалиста


  section(block="section", mods="center fix color:whitesmoke grid")
    div(elem="content-wrap")
      h3(block="title", mods="center level:3") 3 типичных заблуждения при обращении за помощью в достижении цели.
      div(block="delusions")
        div(elem="item")
          h4(block="quote", mix="block: title mods=[level:4]") Всё сделают за меня
          p Почему услуги тех, кто обещает результат по мановению волшебной палочки, пользуются бешеной популярностью? Иллюзия получить что-то не прилагая усилий слишком привлекательна для человеческого сознания, уставшего выдерживать череду разочарований. Но в большинстве случаев соблазн довериться чуду приводит к печальным последствиям.
        div(elem="item")
          h4(block="quote", mix="block: title mods=[level:4]") Мне дадут готовый рецепт, что делать
          p Многим кажется, будто бы профессионал берёт своё вознаграждение за то, что обладает секретным знанием и может наставить на «правильный» путь. Но если бы такие алгоритмы существовали, потребность в людях, помогающих добиваться целей, вообще отпала. Идеи можно было бы систематизировать и массово распространять.
        div(elem="item")
          h4(block="quote", mix="block: title mods=[level:4]") Раз другим помогло, поможет и мне
          p Мы привыкли прислушиваться к рекомендациям друзей и знакомых, и это оправдано, если Вы ищете хорошего мастера по ремонту или зубного врача. Но когда речь идёт о собственном счастье, начинают работать иные законы. Потому как невозможно повторить чей-то путь, даже если у Вас одинаковые цели.

  section(block="section", mods="slim overlay:darken img:coffee center")
    div(elem="overlay")
    div(elem="content-wrap")
      h3(elem="title", mix="block:title mods:[level:3 center]") Как выбрать свой путь
      ul(block="list", mods="check")
        li Если Вам кажется, будто Вы ходите по кругу
        li Если смена обстоятельств не меняет качества жизни
        li Если Вы осознали, что чудо кроется в Вас самих
        li Если Вы не верите в готовые рецепты

  section(block="section", mods="color:whitesmoke slim fix center")
    div(elem="content-wrap", mods="center")
      h2(block="title", mods="center level:3") ЕСТЬ ГАРАНТИРОВАННЫЙ СПОСОБ ДОСТИЧЬ ВАШУ ЦЕЛЬ – КОУЧИНГ ПО МЕТОДИКЕ «SPIRITUAL OPTION»
      p «Spiritual Option» разработана в 2002 году сербским математиком и профессиональным консультантом в области достижения целей Филиппом Михайловичем.  На сегодняшний день она является одной из самых эффективных методик, позволяющих гармонично  добиваться своих целей и получать устойчивый результат.

  section(block="section", mods="ultra-slim")
    div(elem="content-wrap")
      h3(block="title", mods="level:3 center") В чём отличия методики «Spiritual Option»?
      div(block="features", mods="border center grid hover:grow")
        div(elem="item", mods="primary col:1-of-2 center")
          h3(elem="title") SPIRITUAL OPTION
          ul(elem="list")
            li Изменения продолжаются после окончания коучинга
            li Развивается самостоятельная способность добиваться целей
            li Индивидуальность в противовес универсальности: все стратегии чётко ориентированы на конкретного человека
        div(elem="item", mods="col:1-of-2 center")
          h3(elem="title") Другие методы коучинга
          ul(elem="list")
            li Кратковременный результат
            li Зависимость от коуча
            li Решения, не подходящие конкретной личности
        div(elem="item", mods="primary col:1-of-2 center")
          h3(elem="title") SPIRITUAL OPTION
          ul(elem="list")
            li Работа ориентирована на достижение конкретного, измеряемого результата
            li Изменения запускаются очень быстро, позволяя произвести расчёт предполагаемой даты достижения целей
        div(elem="item", mods="col:1-of-2 center")
          h3(elem="title") Психотерапия
          ul(elem="list")
            li Предоставляет богатые возможности для исследования себя, но не заточена на достижение конкретных целей
            li Результат достигается в течение длительного времени

  section(block="section", mods="slim color:whitesmoke")
    div(elem="content-wrap")
      //-h3(elem="title", mix="block:title mods:[level:3 center]") Преимущества Spiritual Option
      .swiper-container
        .swiper-wrapper(block="features", mods="swiper")
          .swiper-slide(elem="item", mods="center")
            header(elem="header", mods="color:primary")
              i(elem="icon", class="fa fa-pagelines ")
              h3(elem="title") Естественность и гармоничность
            p(elem="text") никакого принудительного «встраивания» установок и черт. Хороши только те способы, в которых Вы чувствуете себя свободно и естественно
          .swiper-slide(elem="item", mods="center")
            header(elem="header", mods="color:primary")
              i(elem="icon", class="fa fa-cubes ")
              h3(elem="title") Исключительная чёткость структуры работы на всех этапах
            p(elem="text") В «Spiritual Option» всё продумано до мелочей: соблюдается чёткая последовательность действий, приводящая к предсказуемому результату, проверенному на тысячах людей
          .swiper-slide(elem="item", mods="center")
            header(elem="header", mods="color:primary")
              i(elem="icon", class="fa fa-history ")
              h3(elem="title") Глубина проработки прошлого опыта, мешающего достижению цели
            p(elem="text") оптимизация эмоционального состояния является непременным условием эффективности последующей работы
          .swiper-slide(elem="item", mods="center")
            header(elem="header", mods="color:primary")
              i(elem="icon", class="fa fa-child ")
              h3(elem="title") Видимость изменений в реальной жизни
            p(elem="text") чёткое планирование и соблюдение срока достижения результата убедит Вас в 100% действенности метода
          .swiper-slide(elem="item", mods="center")
            header(elem="header", mods="color:primary")
              i(elem="icon", class="fa fa-graduation-cap ")
              h3(elem="title") Устойчивость полученного положительного эффекта
            p(elem="text") овладение методикой «Spiritual Option» позволит не только пользоваться ей по завершении работы, но и покорять новые вершины уже без коуча.
        .swiper-pagination

  section(block="section", mods="color:darkslategray")
    div(elem="content-wrap")
      h3(elem="title", mix="block:title mods:[level:3 center]") Какие задачи можно решать с помощью «Spiritual Option»?
      div(block="features", mods="center grid")
        div(elem="item", mods="col:1-of-3 center")
          i(elem="icon", class="fa fa-users")
          p(elem="text") Гармонизация любых человеческих взаимоотношений (с партнёром, с детьми, с руководителем и коллегами)
        div(elem="item", mods="col:1-of-3 center")
          i(elem="icon", class="fa fa-money ")
          p(elem="text") Достижение конкретных финансовых целей (как для успешных бизнесменов, ставящих новые амбициозные задачи, так и для людей, которые недостаточно удовлетворены уровнем своего дохода)
        div(elem="item", mods="col:1-of-3 center")
          i(elem="icon", class="fa fa-cogs ")
          p(elem="text") Принятие сложных решений
        div(elem="item", mods="col:1-of-3 center")
          i(elem="icon", class="fa fa-medkit ")
          p(elem="text") Работа с травмами, зависимостями, фобиями
        div(elem="item", mods="col:1-of-3 center")
          i(elem="icon", class="fa fa-paint-brush ")
          p(elem="text") Развитие новых личностных качеств
        div(elem="item", mods="col:1-of-3 center")
          i(elem="icon", class="fa fa-magic ")
          p(elem="text") Борьба с прокрастинацией, Работа с телом, Помощь в преодолении стрессовых ситуаций


  section(block="section", mods="color:primary fix collapse")
    div(elem="content-wrap")
      h3(elem="title", mix="block:title mods:[level:3 center]") КАКИМ ОБРАЗОМ ДОСТИГАЕТСЯ ЦЕЛЬ?
      div(block="features", mods="images slim")
        div(elem="item", mods="center")
          h3(elem="title") Модификация опыта.
          div(elem="text") Прежде всего «Spiritual Option» работает с прошлым опытом, ограничивающими убеждениями, страхами и сомнениями, которые «резервируют» в Вашей личности значительную часть энергии. Перепроживая этот опыт в новом ключе, Вы разрушаете старые нейронные связи и высвобождаете те силы, жизненно необходимые для достижения поставленных целей.
        div(elem="item", mods="center")
          h3(elem="title") Создание желаемого образа цели
          div(elem="text") «Spiritual Option» работает только с реальными задачами, которые полностью соответствуют внутреннему миру человека. На этом этапе коуч помогает отсечь всё то, что было когда-то навязано извне, и сформулировать чёткую цель, являющуюся истинным отражением желаний и потребностей клиента.
        div(elem="item", mods="center")
          h3(elem="title") Планирование
          div(elem="text") Высвободившуюся в процессе работы колоссальную энергию очень важно направить в нужное русло, не позволяя ей расплескаться в хаотичных попытках осуществить задуманное. Коуч помогает клиенту создавать «идеальные сценарии» достижения целей, которые гармонично вписываются в уникальные особенности его личности.
        div(elem="item", mods="center")
          h3(elem="title") Техника восстановления после провалов.
          div(elem="text") Было бы наивным полагать, будто у каждого сразу получается добиваться желаемого. Разумеется, любой из нас сталкивается с препятствиями, вынуждающими проявлять гибкость в отношении намеченных планов. Коуч поддерживает клиента в те моменты, когда его стратегия даёт сбой, и помогает неустанно совершенствовать её и всё больше приближать к реальности. До тех пор, пока она не приведёт к долгожданному результату!

  section(block="section", mods="slim center")
    div(elem="content-wrap")
      img(src="images/tk.jpg", block="photo", mods="type: tk", alt="Татьяна Костина")
      h3(elem="title", mix="block:title mods:[level:3]") Кто я и как я работаю?
      p.
        Меня зовут Костина Татьяна, и я профессиональный коуч, аттестованный по программе «Spiritual Option» в России. До того, как начать заниматься частной практикой, я успешно применяла данную методику для изменения собственной жизни. Я, как и многие, привыкла доверять только тому, что проверено на себе. Вот почему Вы <i>бесплатно</i> можете пройти первое собеседование для того, чтобы на практике понять, насколько Вам подходит «Spiritual Option».


  section(block="section", mods="color: whitesmoke")
    div(elem="content-wrap")
      h3(elem="title", mix="block:title mods:[level:3 center]") Цены
      div(block="features", mods="center grid prices")
        div(elem="item", mods="col:1-of-4 ")
          header(elem="header")
            h3(elem="title", mods="center") Встраивание позитивных качеств
            div(elem="price", mods="center") 6 000р
            div(elem="info", mods="center") 3 сессии
          p(elem="text") Ориентирована на людей, которые стремятся сформировать в себе определённые личностные черты, либо минимизировать проявления «нежелательных» качеств.
        div(elem="item", mods="col:1-of-4 ")
          header(elem="header")
            h3(elem="title", mods="center") Подготовка к значимому событию
            div(elem="price", mods="center") 8 000р
            div(elem="info", mods="center") 4 сессии
          p(elem="text") Подходит для тех, кто желает максимально оптимизировать своё состояние для успешной сдачи важного экзамена, защиты диссертации или перед другим волнительным событием.
        div(elem="item", mods="col:1-of-4 primary")
          header(elem="header")
            h3(elem="title", mods="center") Гармонизация <br> жизни
            div(elem="price", mods="center") 20 000р
            div(elem="info", mods="center") 10 сессий
          p(elem="text") Минимальная базовая программа по работе с любыми целями по улучшению качества жизни (взаимоотношения в семье и с партнёрами, увеличение дохода, достижение новых показателей в бизнесе, профессиональная и творческая самореализация, эффективное и здоровое похудание и др.).
        div(elem="item", mods="col:1-of-4 ")
          header(elem="header")
            h3(elem="title", mods="center") Избавление от зависимости или фобии
            div(elem="price", mods="center") 20 000р
            div(elem="info", mods="center") 10 сессий
          p(elem="text") Помогает тем, кто хочет обрести внутреннюю свободу и ощутить полноту жизни.


  section(block="section", mods="img:join-us center fix overlay:primary", mix="block: js-contact-form elem: section")
    div(elem="overlay")
    div(elem="content-wrap")
      form(block="contact-form")
        div(elem="item")
          label(elem="label") Выберите курс
          div(elem="select-arrow")
            select(elem="select", mix="block: contact-form elem: form", name="course")
              option(value="Встраивание позитивных качеств") Встраивание позитивных качеств
              option(value="Подготовка к значимому событию") Подготовка к значимому событию
              option(value="Гармонизация жизни") Гармонизация жизни
              option(value="Избавление от зависимости или фобии") Избавление от зависимости или фобии
        div(elem="item")
          label(elem="label") Ваша почта
          input(elem="form" type="email" name="email" placeholder="email@example.com")
        div(elem="item" mods="center")
          button(elem="button", mix="block: button") Отправить



block js
  script(src="js/index.js")

  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-71760679-1', 'auto');
    ga('send', 'pageview');


  // Yandex.Metrika counter
  script(type="text/javascript").
    (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter35175910 = new Ya.Metrika({ id:35175910, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
  noscript
    div
      img(src="https://mc.yandex.ru/watch/35175910", style="position:absolute; left:-9999px;", alt="")
  // /Yandex.Metrika counter


